@model SalesWebMvc.Models.ViewModels.ConsultaFormViewModel

@{
    ViewData["Title"] = "Edit";
}
<h4>Editar</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <input type="hidden" asp-for="Consulta.Id" />
            <div class="form-group">
                <label asp-for="Consulta.ClienteId" class="control-label"></label>
                <select asp-for="Consulta.ClienteId" asp-items="@(new SelectList(Model.Cliente,"Id","Nome"))" class="form-control">
                </select>

            </div>
            <div class="form-group">

                <label asp-for="Consulta.EspecialistaId" class="control-label"></label>
                <select asp-for="Consulta.EspecialistaId" asp-items="@(new SelectList(Model.Especialista,"Id","Nome"))" class="form-control">
                </select>
            </div>
            <div class="form-group">

                <label asp-for="Consulta.StatusPagamento" class="control-label"></label>
                <select asp-for="Consulta.StatusPagamento" asp-items="Html.GetEnumSelectList<SalesWebMvc.Models.Enums.StatusPagamento>()" class="form-control">
                </select>
            </div>
            <div class="form-group">

                <label asp-for="Consulta.Data" class="control-label"></label>
                <input asp-for="Consulta.Data" class="form-control" />
                <span asp-validation-for="Consulta.Data" class="text-danger"></span>
            </div>
            <div class="form-group">

                <label asp-for="Consulta.Comentario" class="control-label"></label>
                <input asp-for="Consulta.Comentario" class="form-control" />
                <span asp-validation-for="Consulta.Comentario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
